
/* General */

/* Header */
header {
    width: 101%;
    overflow: hidden;
    position: relative;
    height: 250px;
    margin: 0;
    
}

.home-header {
    height: 100px;
    text-align: center;
    background-color: #f9f2ec;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    position: absolute;
    width: 100%;
    top: -10%;
} 

h1 {
    /* color: #b30059; */
    color: #b30000;
    font-size: 80px;
    font-family: Arial Black;
    /* padding-top: 70px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Menu */
.menu {
    /* margin-top: -20px; */
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin-left: 0px;
    background-color: #f9f2ec;
    /* border-top: 2px solid #b30059; */
    border-top: 2px solid #b30000;
    text-decoration: none;
    
}

a {
    color: #b30000;
}

menu a:link {
    color:black;
    text-decoration: none;
}
menu a:visited {
    color: black;
    text-decoration: none;
}

menu a:active {
    color: black;
    text-decoration: none;
}

.menu-link:hover {
    /* background-color: #b30059; */
    color: black;
    /* padding: 12px 70px; */
    /* padding: 30px; */
    /* font-weight: bold; */
    text-decoration: none;
    font-weight: bold;
}

.current-page {
    color: black;
    font-weight: bold;
}

#content {
    padding-top: 15px;
    padding-left: 35px;
}

.col {
    margin: 8px;
    width: 450px;
    height: 490px;
    border-radius: 5px;
    overflow: scroll;
    background-color: #f9f2ec;
    text-align: center;
    /* box-shadow: 5px 5px 5px grey; */
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin-bottom: 30px;
}

.col::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

.place-photo {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 5px;
}

.place-name {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.rating-img{
    width: 30px;
}

.review-photo {
    width: 50px;
    height: 50px;
}

.wrapper {
    display: grid;
    margin-bottom: 10px;
    text-align: left;
}


.box {
    background-color: #fff;
    color: #444;
    padding: 5px;
    font-size: 85%;
    
}

.grid-photo {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 10px 5px 0 10px;
    
}
.grid-name {
    grid-column: 2 / 4 ;
    grid-row: 1 / 2;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 0 5px;
}
.grid-review {
    grid-column: 2 / 4 ;
    grid-row: 2 / 3 ;
    padding-top: 0;
}

.all_reviews {
    height: 300px;
    overflow-x: scroll !important;
}


/* ====== End General ====== */

/* Home page */
/* Carousel section */
.container {
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
}

#myCarousel {
    width: 800px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Right Container */
.right-container {
    display: inline-block;
    
}

/* Events */

/* Social */
.social {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

a .social {
    color: white;
}

.fa {
    width: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    /* border-radius: 50%; */
}
.fa:hover {
    /* opacity: 0.7; */
    text-decoration: none;
    color: red;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

/* Events */
.events {
    
    margin-right: 200px;
}

.contact-page p {
    font-size: 17px;
}

.contact-form {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 10%;
    flex-direction: row;
        flex-wrap: wrap;
}

.about-us {
    max-width: 350px;
    /* float: left; */
    text-align: center;
    /* margin-top: 50px; */
    /* margin-right: 50px; */
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    /* margin-left: 400px; */
    /* height: 368px; */
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    /* margin: 50px 0; */
    width: 350px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: inline-block;
  }

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  #contact input {
      width: 100%;
  }

  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #b30000;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  h4 {
    color: #b30000;

}
  #contact textarea {
    height: 100px;
    width: 100%;
    resize: none;
  }

  
/* For small devices */
@media screen and (max-width: 600px) {
    
    header {
        height: 100px;
    }

    .title-section {
        height: 60px;
        text-align: center;
    }
    
    .title-section p {
        font-size: 25px;
    }
    
    #myCarousel {
        width: 100%;
        padding: 0;
        /* margin-top: 150px; */
    }
    
    .menu {
        display: block;
        padding-bottom: 30px;
        height: 200px;
    }

    #content {
        padding: 0;
    }

    h1 {
        font-size: 30px;
    }

    .col {
        width: auto;
    }
    
    .col-sm-4 {
        background-color: #f9f2ec;
        
    }

    .about-us {
        margin-left: 0;
    }
    
}