
/* Title section */
.title-section {
    background-color: grey;
    height: 100px;
    text-align: center;
}

.title-section p {
    padding-top: 15px;
    font-size: 50px;
}

/* Menu */
.menu {
    margin-top: -20px;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin-left: 0px;
    color: black;
    text-decoration: none;
}

a {
    color: #b30059;
}

menu a:link {
    color:black;
    text-decoration: none;
}
menu a:visited {
    color: black;
    text-decoration: none;
}
menu a:active {
    color: black;
    text-decoration: none;
}


/* Carousel section */
.container {
    margin-left: 15px;
}

#myCarousel {
    width: 650px;
}
header {
        text-align: center;
        background-size: cover;
        background-color: #f9f2ec;
        background-size: cover;
        height:250px;
      }


h1 {
  color: #b30059;
  font-size: 80px;
  font-family: Arial Black;
  padding-top: 70px;
  margin-top: 0px;
  }
ul  {
  list-style-type: none;
  margin: 0;
  padding: 0 30 0 30;
  background-color: black;

}

li {
  display: inline-block;
  padding: 5px 5px;
}
.social {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}

a .social {
    color: white;
}

.fa {
    width: 80px;
    padding: 20px;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* For small devices */

@media screen and (max-width: 600px) {

    .title-section {
        height: 60px;
        text-align: center;
    }

    .title-section p {
        font-size: 25px;
    }

    #myCarousel {
        width: 380px;
    }
}

/* Events */
.events {
    float: right;
    margin-right: 200px;
}

/* Page 2 */

#map {
    height: 100%;
  }

  /* Eat Page */
  /* Header */
.eat-page header { 
    background-image: url("../img/eat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    margin: 0;
  }

/* Body */
/*body {
    margin: 0;
}*/

.menu {
    background-color: #f9f2ec;
    height: 50px;
    border-top: 5px solid pink;
}

.eat-page .row {
    margin: 30px;
    
}

.eat-page .col {
    margin: 5px;
    background-color: antiquewhite;
    width: 400px;
    height: 500px;
    text-align: center; 
}

.eat-page #name-place-id {
    font-size: 20px;
    margin: 5px;
}

.eat-page .rating-img{
    width: 30px;
    
}
.eat-page #map {
    display: none;
}
